.Dictionary form {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.Dictionary section {
    background-color: #E4B7D4;
    border-radius: 20px;
    padding: 4px;
    width: 100%;
}

.Results section {
    background-color: #8A8BC3;
    border-radius: 20px;
    padding: 17px;
    margin: 10px auto;
    width: 100%;
}

.Meaning-Section {
    background-color: #9FD9DA;
    border-radius: 20px;
    padding: 17px;
    margin: 10px auto;
    width: 100%;
}

.Meaning .Definition {
    font-weight: 400;
   
}

.Synonyms li {
    font-size: 12px;
  
   
}

.Word {
    text-transform: capitalize;
    border-radius: 20px;
    padding: 15px;
    color: aliceblue;
}

.PartOfSpeech {
    font-size: 25px;
    margin: 15px 0;
    color: aliceblue;
}

.Text {
    color: aliceblue;
    margin: 5px;
}

.Example strong {
    font-size: 12px;
}

.Example p {
    font-style: italic;
    font-weight: 300;
}